<!-- Pass in data from server.js -->
<div class="container">
  <div class="image"></div>
<h2>Eat-Da_Burger!</h1>
<div class="row">
<div class="new_items col-md-6">
  {{#each burgers}}
  	<div class="each_entry">
  		<span>{{this.id}}. </span> 
      <span>{{this.name}}</span>
      <button data-id="{{this.id}}"  type="button" class="deleteBurger btn btn-success btn-sm">Devour it!</button>
  	</div>
  {{/each}}
</div>

<div class="deleted_items col-md-6">
  {{#each deletedBurgers}}
  	<div class="each_entry">
  		<span class="deleted">{{this.id}}. </span> 
      <span class="deleted">{{this.name}}</span>
  	</div>
  {{/each}}
</div>


<form class="create-form">
  <div class="form-group">
    <textarea id="newBurger" name="new" rows="4" cols="50"></textarea>
  </div>
  <button type="submit" class="btn btn-primary submit_btn">Submit</button>
  <div>Enter a burger you want to eat and Click the "Submit" button.</div>
</form>
</div>
</div>